div.moduleItem {
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
}
.grzxTabBox {
    padding: 0px 23px 30px 23px;
}
.grzxTabUl {
    border-bottom: 3px solid #ebeef1;
    height: 57px;
}
ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
    font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul, menu, dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.grzxTabUl .grzxTabLi.cur {
    border-bottom: 3px solid #50abf2;
}
.grzxTabUl .grzxTabLi {
    height: 57px;
    line-height: 57px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 3px solid #ebeef1;
    padding: 0px 20px;
}

.xiugaimimaBox {
    padding: 39px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.grzxFGCBox {
    min-height: 34px;
    float: left;
    margin-left: 13px;
    font-size: 14px;
}
.clearfix {
float: none;
}
.grzxFGBox:first-child {
    margin-top: 0px;
}
div {
    display: block;
}
label {
    cursor: default;
}
.grzxFGBox .grzxFGLabel {
    height: 34px;
    line-height: 34px;
    float: left;
    text-align: right;
    font-size: 14px;
    width: 120px;
}
.sitePHBox {
    position: relative;
}
.grzlBtnBox {
    margin: 0px 0px 0px 133px;
}
.grzlErrorTip {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #ff0000;
}
.grzlBtnInner.clearfix {
    margin-bottom: 10px;
}
.grzlBtnInner .grzlSubmitBtn {
    width: 126px;
    height: 38px;
    background-color: #50abf2;
    color: #fff;
}