<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>user-center</servlet-name>
  <servlet-class>com.self.action.QueryUserCenterAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>user-center</servlet-name>
  <url-pattern>/user-center</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>userfunction</servlet-name>
  <servlet-class>com.self.action.UserfunctionAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userfunction</servlet-name>
  <url-pattern>/userfunction</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>launch</servlet-name>
  <servlet-class>com.self.action.QuerylaunchAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>launch</servlet-name>
  <url-pattern>/launch</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>userinfo</servlet-name>
  <servlet-class>com.self.action.QueryUserinfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userinfo</servlet-name>
  <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>change-password</servlet-name>
  <servlet-class>com.self.action.QueryChangePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>change-password</servlet-name>
  <url-pattern>/change-password</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>address</servlet-name>
  <servlet-class>com.self.action.QueryAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>address</servlet-name>
  <url-pattern>/address</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>comment</servlet-name>
  <servlet-class>com.self.action.QueryCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>comment</servlet-name>
  <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>account</servlet-name>
  <servlet-class>com.self.action.QueryAccounttAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>account</servlet-name>
  <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>focus</servlet-name>
  <servlet-class>com.self.action.QueryFocusAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>focus</servlet-name>
  <url-pattern>/focus</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>reward-order</servlet-name>
  <servlet-class>com.self.action.QueryRewardOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>reward-order</servlet-name>
  <url-pattern>/reward-order</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>corp-order</servlet-name>
  <servlet-class>com.self.action.QueryCorpOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>corp-order</servlet-name>
  <url-pattern>/corp-order</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>userinfomation</servlet-name>
  <servlet-class>com.self.action.GetUserInfomationAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>userinfomation</servlet-name>
  <url-pattern>/userinfomation</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>getcitydata</servlet-name>
  <servlet-class>com.self.action.GetCityDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>getcitydata</servlet-name>
  <url-pattern>/getcitydata</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>passwordchange</servlet-name>
  <servlet-class>com.self.action.GetPassWordChangeAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>passwordchange</servlet-name>
  <url-pattern>/passwordchange</url-pattern>
  </servlet-mapping>
</web-app>